table{
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
}
tr td{
    border: 1px solid black;
    padding: 20px 20px;
}
.g1{
    background-color: red;
}
.g2{
    background-color: yellow;
}