* {
    padding: 0;
    margin: 0;
}
div span{
    color: white;
}
.g1{
    width: 100%;
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.g1 span{
    position: absolute;
    top: 40%;
    left: 47.5%;
    font-size: 20px;
}
.g2{
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 50vh;
    text-align: center;
}
.g2 span{
    position: absolute;
    top: 145%;
    left: 46%;
    font-size: 20px;
}
.g3{
    width: 100%;
    background: url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}
.g3 span{
    position: absolute;
    top: 200%;
    left: 47.5%;
    font-size: 20px;
}